* {
  background: gray;
}

.book-card-container .author {
  border: 2px solid pink;
}

.book-card-container p {
}
#book-fourm {
  color: #fff;
  display: none;
  border: 2px solid rgb(129, 236, 129);
  width: 15rem;
}
/*CSS CLASSES FOR DYANMIC STUFF*/
.bookCard {
  border: 2px solid blue;
  width: 20rem;
}
.errorMsg {
  color: #de5e5e;

  margin: 0;
}
